# Python
__pycache__/
*.pyc
*.pyo

# IDEs
.vscode/
.idea/

# Logs & errors
*.log
*.out
*.bak
*.txt

# Env & config
.env
*.spec
*.json

# OS garbage
*.DS_Store
Thumbs.db

# Excel & Office
*.xlsx
*.xls

# Archives
*.zip

# Icons
*.ico

# Executables
*.exe
*.dll
*.pyd
*.so
*.asc

# Nuitka
build/
dist/
*.build/
*.dist/
*.nuitka*
*.manifest

# Specific Nuitka output
main.build/
main.dist/
xlmerger.build/
xlmerger.dist/

# Signed files
*.exe.asc

# Optional: exclude release artifacts
releases/
